label{
  position:absolute;
  left: 50px;
  top: 65px;
  background: #fff;
  padding: opx 5px;
  transition: transform 0.3s ease,
  color 0.3s ease;
}

input:focus + label {
  transform: translateY(-25px);
  color: #007bff;
}

input: focus{
  border-color: #0051ff;
}